<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	ActorList
	
	Links : 	ActorEdit
					/actors/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="ActorListController">
	
	<h1>ActorList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  }">
				<td ng-bind="item._id" ng-link="/actors/{{item._id}}"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="mb-20" ng-if="list.$resolved && (list | filter :{   }).length == 0">
        <b>No result found</b>
    </div>

	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/actors/new">New</button>
	
</div>